:root{
  --dark-color: #66263f;
--text-color: rgb(228, 174, 13);

}

body{
  background-color: var(--dark-color);
  color: var(--text-color);
  font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
  margin: auto;
  padding-bottom: 2rem;
}

label{
  padding-top: 0.5rem;
}

#bill-amount, #cash-amount{
padding: 0.5rem;
margin-top: 0.5rem;
}
.container{
 display: flex;
 flex-direction: column;
 max-width: 35%;
 margin: auto;
 text-align: center;
}
#err-message, label{
  font-weight: bold;
}
h1{
  margin-top: 1rem ;
 }
 p{
   margin-top: -0.5rem;
   margin-bottom: 1.5rem;
 }
#changebtn{
padding:  0.7rem 1rem;
margin: 1.5rem 0rem;
border-style: none;
border-radius: 0.5rem;
border: 2px solid rgb(228, 174, 13);
background:var(--text-color) ;
cursor: pointer;
color: var(--dark-color);

align-self: center;
font-weight: bold;
font-size: medium;
}
.change-table, td,th{
  margin: 1rem 0rem;
  padding: 0.5rem;
  color: var(--dark-color);
  background-color: var(--text-color);
  border: 2px solid var(--dark-color);
  border-collapse: collapse;
  font-weight: bold;
}

i{
  color: var(--text-color);
  font-size: 2.5rem;
}

.list-item-inline{
  display: inline;
  list-style: none;
  padding: 1.5rem;
}
.footer{
  text-align: center;
  padding-top: 4rem;
}